.background {
    background: url(/img/bc.png);
    background-size: cover;
    overflow: hidden;
}

.background .disini {
    font-size: 14px;
    margin-top: 45px;
}

.box {
    background-color: white;
    height: 560px;
    width: 1000px;
    left: 454px;
    top: 210px;
    border-radius: 13px;
    margin: 150px auto;
    box-shadow: -14px 13px 21px rgba(0, 0, 0, 0.25);
}

.box h1 {
    color: #3D84C2;
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
}

.box h2 {
    color: #000000;
    text-align: center;
    font-size: 20px;
    margin-top: -60px;
    margin-bottom: 20px;
}

p {
    color: #000000;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -40px;
}

select {
    color: #474343;
    background-color: #51BFBA;
    width: 90%;
    text-align: left;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 5%;
    border-radius: 6px;
}

text{
    color: #000000;
    background-color: #51BFBA;
}

label{
    width: 90%;
    margin-left: 6%;
}

input{
    background-color: #51BFBA;
    width: 90%;
    margin-left: 5%;
    border-radius: 6px;
}

.button2{
    float: right;
    margin-right: 20px;
    background: #3D84C2;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 8px 50px;
}

.button1{
    float: left;
    margin-left: 20px;
    background-color: transparent;
    border-color: transparent;
    
}



.tombol_login {
    font-size: 20px;
    background: #3D84C2;
    color: white;
    font-size: 12pt;
    padding: 12px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    text-align: center;
}

.tombol_login:hover {
    text-align: right;
    background: #2b5d88;
}

.judul{
    text-align: center;
    color: #000000;
    font-weight: bold;
 
}