.background {
    background: url(../img/bck.png);
    background-size: cover;
}

.background .disini {
    font-size: 14px;
    margin-top: 45px;
}

.box {
    text-align: center;
    background-color: #FFFFFF;
    height: 557px;
    width: 500px;
    left: 454px;
    top: 228px;
    border-radius: 13px;
    margin: 150px auto;
    box-shadow: -14px 13px 21px rgba(0, 0, 0, 0.25);
}

.box h1 {
    color: #3D84C2;
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
}

.box h2 {
    color: #3D84C2;
    text-align: center;
    font-size: 22px;
    margin-top: -20px;
    margin-bottom: 60px;
}

.rm {
    text-align: right;
    margin-right: 60px;
    margin-top: -7px;
}

.form_login {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 385px;
    height: 60px;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #222734;
    box-shadow: 0px 4px 4px rgba(-2, 0, 0, 0.15);
}

.tombol_login {
    font-size: 20px;
    background: #3D84C2;
    color: white;
    font-size: 12pt;
    padding: 12px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    text-align: center;
}

.tombol_login:hover {
    background: #2b5d88;
}

.versioncontrol {
    text-align: center;
    color: #FFFFFF;
}